:root {
    --color-accent: oklch(65% 50% 0);
    }

body {
    /* Set line height to 1.5 times the font size
         and use the OS’s UI font as the website font
       */
    accent-color: var(--color-accent);
    font: 100%/1.5 system-ui;
    max-width: 100ch;
    margin-inline: max(1em, (100% - 100ch) / 2);

  }
  h1 {
    text-align: center;
  }

/* >>>>>>>>>>>>>>>>>>>> NAVIGATION <<<<<<<<<<<<<<<<<<<< */

nav ul, nav ul li {
    display: contents;
  }

nav {
    display: flex;
    margin-bottom: 1em;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: oklch(80% 3% 200);
  }

nav a {
    flex: 1;
    text-decoration: none;
    color: inherit;
    text-align: center;
    padding: 0.5em;
}

nav a.current {
    flex: 1;
    border-bottom-width: 0.4em;
    padding-bottom: 0.2em;
}

nav a:hover {
    border-bottom:0.4em solid var(--color-accent);
    background-color: oklch(from var(--color-accent) 95% 5% h);
    padding-bottom: 0.2em;
}

/* >>>>>>>>>>>>>>>>>>>> CONTACT <<<<<<<<<<<<<<<<<<<< */

input, textarea{
    width: 100%;
    display: grid;
    font: inherit;
    grid-column: 2;
}
button {
    font: inherit;
    width: 100%;
    display: grid;
    grid-column: 2;
    font: inherit;
}

form { 
    display: grid;
    grid-template-columns: 1fr 8fr;
    grid-column: 1 / -1;
    gap: 1em;
  }

label {
    display: grid;
    grid-template-columns: subgrid;
  }


/* >>>>>>>>>>>>>>>>>>>> RESUME <<<<<<<<<<<<<<<<<<<< */

  .resume-header {
    text-align: center;
  }
  .resume-details{
    display: flex;
    text-align: left;
  }