:root {
    --color-accent: oklch(65% 50% 0);
    }

body {
    /* Set line height to 1.5 times the font size
         and use the OS’s UI font as the website font
       */
    accent-color: var(--color-accent);
    font: 100%/1.5 system-ui;
    max-width: 100ch;
    margin-inline: max(1em, (100% - 100ch) / 2);

  }
  h1 {
    text-align: center;
  }

/* >>>>>>>>>>>>>>>>>>>> NAVIGATION <<<<<<<<<<<<<<<<<<<< */


nav {
    display: flex;
    margin-bottom: 1em;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: oklch(80% 3% 200);

    ul, 
    ul li {
        display: contents;
    }

    a {
        flex: 1;
        text-decoration: none;
        color: inherit;
        text-align: center;
        padding: 0.5em;
        
        &.current{
            flex: 1;
            border-bottom-width: 0.4em;
            padding-bottom: 0.2em;
        }

        &.hover{
            border-bottom:0.4em solid var(--color-accent);
            background-color: oklch(from var(--color-accent) 95% 5% h);
            padding-bottom: 0.2em;
        }
    }

  }
/* >>>>>>>>>>>>>>>>>>>> PROJECTS <<<<<<<<<<<<<<<<<<<< */

.projects{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    gap: 1em;

    article {
        grid-template-rows:subgrid;
        grid-row: span 3;
        gap: 10px 20px;

        h2 {
            margin: 0;
            gap: 1em;
        }
        h1, h2, h3, h4, h5, h6 {
            line-height: 1.1;
            text-align: balance;
        }
        &:hover{
            border-bottom:0.4em solid var(--color-accent);
            background-color: oklch(from var(--color-accent) 95% 5% h);
            padding-bottom: 0.2em;

        }
    }
}


/* >>>>>>>>>>>>>>>>>>>> CONTACT <<<<<<<<<<<<<<<<<<<< */

input, textarea{
    width: 100%;
    display: grid;
    font: inherit;
    grid-column: 2;
}
button {
    font: inherit;
    width: 100%;
    display: grid;
    grid-column: 2;
    font: inherit;
}

form { 
    display: grid;
    grid-template-columns: 1fr 8fr;
    grid-column: 1 / -1;
    gap: 1em;
  }

label {
    display: grid;
    grid-template-columns: subgrid;
  }


/* >>>>>>>>>>>>>>>>>>>> RESUME <<<<<<<<<<<<<<<<<<<< */
.resume-bullet:hover{
    background-color: oklch(from var(--color-accent) 95% 5% h);
}
.resume h3:hover{
    background-color: oklch(from var(--color-accent) 95% 5% h);
}
.resume h2:hover{
    background-color: oklch(from var(--color-accent) 95% 5% h);
}
.resume-header{
    text-align:center;
}

.resume article{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;

    &:hover{
        background-color: oklch(from var(--color-accent) 95% 5% h);
    }
}

.resume article header {
    flex: 1;
}
.resume article header h3{
    margin: 0; /* Remove default margins */
    line-height: 1.1; /* Tighter line spacing */
}
.resume-details {
    display: block;
    text-align: right;
    margin: 0; /* Add spacing between spans */
}

.resume-details time , p{
    margin: 0;
    font-size: 1em;
    line-height: 1.2;
}

.skills{
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 2rem;
    margin-top: 1rem;
}
.skills-column{
    text-align: center;
}
.skills-column:hover{
    background-color: oklch(from var(--color-accent) 95% 5% h);
}

.skills-column ul li {
    text-align: left;
    list-style-type: circle;
    
}
.skills-column h3 {
    padding: 1em;
    text-align: center;  
}