:root {
    --color-accent: oklch(65% 50% 0);
    color-scheme: light dark
    }

body {
    /* Set line height to 1.5 times the font size
         and use the OS’s UI font as the website font
       */
    accent-color: var(--color-accent);
    font: 100%/1.5 system-ui;
    width:90%;
    margin-inline: auto;
    padding: 3em;

  }
h1 {
    text-align: center;
    font-size:2.8em;
  }
.color-scheme {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 80%;
  font-family: inherit;
}

.dropdown {
    position: relative;
    display: inline-block;
}
.bio {
    display: grid;
    grid-template-columns: minmax(350px, 1fr) 2fr; 
    grid-template-columns: 1fr 2fr; /* Left: Image & Name, Right: About & Stats */
    gap: 20px;
    align-items: center;
    background-color: white;
    border-radius: 10px;
}

/* Left Side: Name & Image */
.bio h1 {
    border-radius: 10px;
    grid-column: 1 / 2; /* Name stays on the left */
    margin-bottom: 10px;
    padding: 10px;
    
}

.bio img {
    border: 10px;
    width: 100%;
    max-width: 400px;
    height: auto; /* Keeps the aspect ratio */
    display: block;

}

/* Right Side: About Me & Profile Stats */
.bio-content {
    grid-column: 2 / 3; /* Stays on the right */
    background-color: white;
    padding: 8px;
    border-radius: 10px;
    margin-bottom:5px;
}

.bio h2 {
    margin-top: 2px;
    font-weight: normal;
    margin-bottom: 5px;
}

/* >>>>>>>>>>>>>>>>>>>>> GITHUB STATISTICS <<<<<<<<<<<<<<<<<<<<<<<< */

/* Styling for Profile Stats */
#profile-stats h2{
    margin-top: 2px;
    font-weight: normal;
    margin-bottom:5px;
}
#profile-stats dl {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
    text-align: center;
}

#profile-stats dt {
    grid-row: 1;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: gray;
}

#profile-stats dd {
    margin: 0;
    grid-row: 2;
}


/* 
----------------------------------------------------------------------------------------------------------------------
-------------------------------------------------- NAVIGATION BAR -----------------------------------------------------
*/


nav {
    display: flex;
    margin-bottom: 1em;
    border-bottom-width: 1px;
    border-bottom-style: solid;
     --border-color: oklch(50% 10% 200 / 40%);
    border-bottom-color: var(--border-color);
    

    ul, 
    ul li {
        display: contents;
    }

    a {
        flex: 1;
        text-decoration: none;
        color: inherit;
        text-align: center;
        padding: 0.5em;
        transition: all 0.3s ease;
        
        &.current{
            flex: 1;
            border-bottom-width: 0.4em;
            padding-bottom: 0.2em;
            border-bottom-color: var(--color-accent);
        }

        &:hover{
            border-bottom: 0.4em solid var(--color-accent);
            background-color: color-mix(in oklch, var(--color-accent), canvas 85%);
            padding-bottom: 0.2em;
        }
    }

  }
/* 
-------------------------------------------------------------------------------------------------------------------
-------------------------------------------------- PROJECTS -------------------------------------------------------
*/
.projects{
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  gap: 2em;

  img{
    width:100%;
    max-width: 300px;
    height:150px;
    padding-bottom: 0.3em;
  }

  article {
    grid-template-rows:subgrid;
    grid-row: span 3;
    gap: 10px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;

    h1 {
        font-size: 2.8em;
        margin-bottom:2px;
        text-align: center;
    }

    h2 {
      margin-top:1px;
      align-items: center;
      text-align:center;
      padding-bottom: 0.8em;
      margin-bottom:2.5px;
      gap: 1em;
      font-size: 1.5em;
      }
    h1, h2, h3, h4, h5, h6 {
      line-height: 1.1;
      text-align: balance;
    }
    &:hover{
        border-bottom:0.4em solid var(--color-accent);
        background-color: oklch(from var(--color-accent) 95% 5% h);
        padding-bottom: 0.2em;

    }
  }
}
.project-year {
  font-family: 'Courier New', Courier, monospace; 
  font-size: 1em;
  padding-top: 0.8em;
  color: black; 
}
svg {
  max-width: 20em;
  margin-block: 1em;
  overflow: visible;
}

/* 
-------------------------------------------------------------------------------------------------------------------
-------------------------------------------------- PROJECT PIE CHART ----------------------------------------------
*/

#projects-pie-plot {
    width: 80px;  
    height: 80px;
    max-width: 5em;
    display: block;
    margin: 0 auto; 
    margin-block: 2em;
    overflow: visible;
}

.legend{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    max-width: fit-content;
    justify-content: center;
    flex: 1 1 auto;
}

.legend-item{
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 4px;
        white-space: nowrap;
        flex: 1 1 auto;
}
    
.legend .swatch {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        display: inline-block;
        gap: 2px;
        background-color: var(--color);
}


.container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    max-width: 100%;


}

.searchBar {
    width: 95%; 
    padding: 0.5em; 
    border: 1px solid #ccc;
    border-radius: 0.5em; 
    margin-bottom: 2em;

}

svg:has(path:hover) {
    path:not(:hover) {
      opacity: 0.5;
    }
}

path {
    transition: opacity 0.3s ease-in-out;
    cursor: pointer;
}

.selected {
    --color: oklch(60% 45% 0) !important;
  
    &:is(path) {
      fill: var(--color);
    }
  }



/* 
-------------------------------------------------------------------------------------------------------------------
-------------------------------------------------- CONTACT PAGE ---------------------------------------------------
*/
input, textarea{
    width: 100%;
    display: grid;
    font: inherit;
    grid-column: 2;
}
button {
    font: inherit;
    width: 100%;
    display: grid;
    grid-column: 2;
    font: inherit;
}

form { 
    display: grid;
    grid-template-columns: 1fr 8fr;
    grid-column: 1 / -1;
    gap: 1em;
  }

label {
    display: grid;
    grid-template-columns: subgrid;
  }


/* 
-------------------------------------------------------------------------------------------------------------------
-------------------------------------------------- RESUME ---------------------------------------------------------
*/
.resume-header{
    text-align:center;
}

.resume article{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.resume article header {
    flex: 1;
}
.resume article header h3{
    margin: 0; /* Remove default margins */
    line-height: 1.1; /* Tighter line spacing */
}
.resume-details {
    display: block;
    text-align: right;
    margin: 0; /* Add spacing between spans */
}

.resume-details time , p{
    margin: 0;
    font-size: 1em;
    line-height: 1.2;
}

.skills{
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 2rem;
    margin-top: 1rem;
}
.skills-column{
    text-align: center;
}

.skills-column ul li {
    text-align: left;
    list-style-type: circle;
    
}
.skills-column h3 {
    padding: 1em;
    text-align: center;  
}

/* 
-----------------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------- META SUMMARY STATISTICS ---------------------------------------------------------
*/

/* >>>>>>>>>>>>>>>>>> STATISTICS TABLE <<<<<<<<<<<<<<<<<<*/
.stats {
    display: grid;
    grid-template-columns: repeat(6, 1fr);  /* 7 columns of equal size*/
    align-items: left;
    gap: 0.5rem; 
  }
  h2{
    font-weight: normal;
  }
  
  .stats dt {
    text-align: center;
    white-space: nowrap; /* Prevent text from breaking into new lines */
    grid-row: 1; /* Place all <dt> elements in first row */
    color: gray;
    text-transform: uppercase;
    letter-spacing: 0.1px;
  }
  
  .stats dd {
    text-align: center;
    grid-row: 2; /* Place all <dd> elements in second row */
    margin: 0; 
  }

  #chart svg {
    width: 100%;
    height: 600px;
    max-width: 1000px;
  }
  
  #chart {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
  }
  /* make lines less prominent and thinner*/
  .gridlines line {
    stroke-opacity: 0.3;
    stroke-width: .5; 
  }
  
  .tooltip {
    position: fixed;
    top: 1em;
    left: 1em;
    padding: 0.75em;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    backdrop-filter: blur(5px);
    transition: opacity 300ms, visibility 300ms;
    font-size: 0.9em;
    max-width: 200px;
  }
  
  .tooltip[hidden] {
    opacity: 0;
    visibility: hidden;
  }
  
  dl.info {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 5px 10px;
    transition-duration: 500ms;
    transition-property: opacity, visibility;
  }

  dl.info[hidden]:not(:hover, :focus-within) {
    opacity: 0;
    visibility: hidden;
  }
  
  dl.info dt {
    font-weight: bold;
    color: #7e7e7e;
  }
  
  dl.info dd {
    margin: 0;
    font-weight: normal;
  }
  
  circle {
    transition: transform 200ms ease-in-out;
    transform-origin: center;
    transform-box: fill-box;
  }
  
  circle:hover {
    transform: scale(1.5);
  }
  
  
  .selection {
    fill-opacity: 0.1;
    stroke-opacity: 0.7;
    stroke-dasharray: 5 3;
    animation: marching-ants 2s linear infinite;
  }
  
  circle.selected {
    fill: #ffacba;
  }